.container {
  width: auto;
  padding: 10px 25px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  opacity: 0;

  p {
    white-space: nowrap;
  }
}

.fallIn {
  opacity: 1;
  animation: fall 0.9s ease-out forwards;
}

@keyframes fall {
  from {
    transform: translateY(-100vh) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotate(var(--rotate-angle));
    opacity: 1;
  }
}
