@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --off-white: '#F8F6E2';
  --red: '#EA4335';
  --green: '#0F9D58';
  --black: '#060606';
  --yellow: '#FBBC04';
  --blue: '#4285F4';
  --white: '#ffffff';
  --paragraph: '#C3C3C3';
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-grotesk);
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
